@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400;1,500;1,600&display=swap");

.rootDiv {
  font-family: "Rubik", sans-serif;
  background-color: #ffcaca !important;
  height: 100%;
  /* width: 100vw; */
}

.restDet {
  margin: 3.5rem 0;
  display: grid;
  grid-template-rows: 50% 50% 50%;
  grid-template-columns: 30% 35% 35%;
  row-gap: 3rem;
  column-gap: 1rem;
}
