@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400;1,500;1,600&display=swap");

.rootDiv {
  font-family: "Rubik", sans-serif;
  background: linear-gradient(to bottom, #fbb5b5, #fff) !important;
}

.restDet {
  margin: 3.5rem;
  display: grid;
  grid-template-rows: 40% 40% 40%;
  grid-template-columns: 30% 30% 30%;
  row-gap: 2.5rem;
  column-gap: 1.5rem;
  column-width: 1rem;
  justify-content: center;
  justify-items: center;
}
