@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400;1,500;1,600&display=swap");

.logoName {
  color: beige;
}

.logoText {
  letter-spacing: -1.5px;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.headerStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e96479;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

@media (min-width: 360px) and (max-width: 480px) {
  .logoText {
    font-size: 1.5rem;
  }
}
